/*Name: Robert Macklem
	File: index.html
	Date: 19 February 2024
	Desc: CSS file for the MDN exercise titled "Typesetting a community school homepage"
*/

/* General setup */
@font-face {
  font-family: 'abhaya_libreregular';
  src: url('fonts/abhayalibre-regular-webfont.woff2') format('woff2'),
       url('fonts/abhayalibre-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'fira_sansregular';
  src: url('fonts/firasans-regular-webfont.woff2') format('woff2'),
       url('fonts/firasans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

* {
  box-sizing: border-box;
}

html {
  font-family: 'abhaya_libreregular', serif;
  font-size: 10px;
  line-height: 1px;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;  
  font-size: 1rem;
  letter-spacing: 1em;
  word-spacing: 1em;
  text-indent: 20px;
}

h1 {
  font-family: 'fire_sansregular', sans-serif;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 3em;
}

h2 {
  font-family: 'fire_sansregular', sans-serif;
  font-size: 2rem;
  letter-spacing: 2em;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */
a {
}

a:link {
  color: #a66;
}

a:visited {
  color: #a95;
}

a:focus {
  color: #a40;
  text-decoration: none;
}

a:hover {
  color: #a80;
  text-decoration: none;
}