/*
	Name: Robert Macklem
	File: style.css
	Date: 19 February 2024
	Desc: The actual .css file containing the style work for MDN exercise "A cool-looking box"
*/

html {
  font-family: sans-serif;
}

/* Your CSS below here */